<div class="ui pointing menu">
  <a routerLink="elements" routerLinkActive="active" class="item">
    elements
  </a>
    <a routerLink="collections" routerLinkActive="active" class="item">
    collections
  </a>
  <a routerLink="views" routerLinkActive="active" class="item">
    views
  </a>
  <a routerLink="mods" routerLinkActive="active" class="item">
    mods
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
    </div>
  </div>
</div>
</div>
<div class="ui segment">
    <p><router-outlet></router-outlet></p>
</div>

